body{
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    font-family: "Open Sans", Helvetica, sans-serif;
    background: #29292c;
    -webkit-font-smoothing: antialiased; /* сглаживаание щрифта*/
    -moz-osx-font-smoothing: grayscale;   /* сглаживаание щрифта mozilla*/
}
a{
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p{
    margin-top: 0;
}
*{
    box-sizing: border-box;  /* чтобы паддинги не растягивали блок - паддинги уходят внутрь блока */
}
img{
    display: block;
    max-width: 100%;
}
body, html{
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}
.main-page-wrapper{
    background: url(images/bg/lion-header.jpg) center top no-repeat, url(images/bg/bottom-pic.png) right bottom 307px no-repeat;
}
.container{
    margin: 0 auto;
    width: 1140px;
    position: relative; /* под вопросом */
}
.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}
.header{
    padding-top: 45px;
    /* height: 120px;
    position: relative; */
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__col{
    display: flex;
    align-items: center;
}
.header__col--align--right{
    justify-content: flex-end;
}
.logo{
    display: block; /*придаем ссылке блочное поведение*/
    margin-right: 100px;
    /* position: absolute;
    top: 28px;
    left: 0; */
}
/* .menu{
    position: absolute;
    top:30px;
    left:261px; 
} */
.contacts{
    /* position: absolute;
    top:14px;
    right: 0; */
    font-style: normal;
    text-align: right;
}
.contacts__desc{
    color: #999;
    font-size: 11px;
}
.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__item--active .menu__link{
    color:#dfb56d;
}
.menu__item:last-child{
    margin-right: 0;
}
.menu__link{
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover{
    color:#dfb56d;
}
.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__dropdown-title{
    font-size: 13px;
    text-decoration: underline;
    color:#dfb56d;
}
.hero__text-section{
    width: 38%;
}
.hero__title{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 22px;
}
.hero__subtitle{
    font-size: 18px;
    color:#dfb56d;
    margin-bottom: 45px;
}
section.hero{
    margin-bottom: 170px;
}
.btn{
    /*background: #dfb56d;*/
    border-radius: 4px;
    padding: 17px 39px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn--color--ginger{
    background: #dfb56d;
}
.btn--color--ginger:hover{
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);    /* смещение по Х, смещение по У, размытие тени, смещение, цвет (прозрачность 15%)*/
}
.btn--color--black{
    background: #202123;
}
.btn--color--black:hover{
    background: #dfb56d;
}
.section{
    margin-bottom: 125px;
}
.section__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
}
.offers{
    display: flex;
    justify-content: space-between;
}
.offers__item{
    min-height: 470px;
    background: #fff;
    border-radius: 5px;
    /* display: inline-block; */
    margin-right: 22px;
    width: 33.33%;
    /* width: calc(100% / 3 - 18px);      // 100% от ширины родителя ; 28px - отступы между блочками : 28px * 2 = 56px отступа всего / 3 элемента = 18px */
    color: #010001;
    overflow: hidden;   /* скрыто переполнение блока */
    display: flex;
    flex-direction: column;
}
.offers__item:last-child{
    margin-right: 0;
}
.offers__item--theme--grey .offers__header:before{
    background: #a5a5a4;
}
.offers__item--theme--blue .offers__header:before{
    background: #556180;
}
.offers__item--theme--gold .offers__header:before{
    background: #978455;
}
.offers__header{
    min-height: 162px;
    /*margin-bottom: 28px;*/
    position: relative;
}
.offers__header:before{
    content: "";
    width: 284px;
    height: 284px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -124px;
    right: -92px;
    background: #ccc;
}
.offers__header-img{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -44px;
    margin-top: -32px;
}
.offers__content{
    padding: 36px 30px;
    padding-top: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.offers__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.offers__prices-cell{
    /* display: inline-block;
    vertical-align: top;
    width: 123px; */
    margin-right: 19px;
}
.offers__prices-cell:last-child{
    margin-right: 0;
}
.offers__price{
    font-size: 36px;
}
.offers__price-range{
    font-size: 30px;
}
.offers__price-desc{
    color: #333;
}
.offers__prices{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.offers__btn-wrapper{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.news{
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
}
.single-news{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    /* margin-right: 23px; */
}
.news__item{
    /* width: 555px; */
    height: 394px;
    margin-right: 2%;
    flex: 1;
    /* display: inline-block;
    vertical-align: top; */
}
.news__item:last-child{
    margin-right: 0;
}
.single-news__cover{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;     /* картинка заполняет целиком блок */
}
.single-news__text-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 32px;
    min-height: 140px;
}
.single-news__date{
    font-size: 14px;
    margin-bottom: 18px;
}
.single-news__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.single-news__desc{
    margin-bottom: 27px;
}
.pager{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .pager__display, .pager__list{
    display: inline-block;
    vertical-align: middle;
} */
.pager__display{
    margin-right: 26px;
}
.pager__list{
    display: flex;
    align-items: center;
}
.pager__item{
    text-align: center;
    /* display: inline-block;
    vertical-align: middle; */
}
.pager__item:hover{
    background: #353538;
    border-radius: 50%;
}
.pager__item--active .pager__link{
    background: #353538;
}
.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /*position: relative;*/
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.section--news--margin-bottom{
    margin-bottom: 150px;
}
.about::before, .about__desc{
    /* display: inline-block;
    vertical-align: top; */
    border-radius: 4px;
}
.about{
    display: flex;
}
.about::before{
    content: "";
    width: 488px;
    height: 502px;
    border-radius: 5px;
    background: url("./images/decor/chess.jpg") center center / cover no-repeat;
    display: block;
}
.about__desc{
    background: #202123;
    padding: 72px 102px;
    max-width: 786px;
    margin-left: -140px;
    margin-top: 107px;
    min-height: 456px;
}
.about__title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}
.about__desc-text{
    margin-bottom: 42px;
}
.about__desc-text p{
    margin-bottom: 20px;
}
.about__desc-text p:last-child{
    margin-bottom: 0;
}
.section--about--margin-bottom{
    margin-bottom: 110px;
}
.footer-container{
    margin-top: auto;
}
.footer-container__section{
    height: 152px;
    margin-top: 26px;
}
.footer-container__content{
    border-top: 1px solid #353538;
}
.footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__col{
    display: flex;
    align-items: center;
}
.footer__col--align--right{
    align-items: flex-end;
}
.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.socials{
    /* top: 27px;
    right: 266px;
    position: absolute; */
    margin-right: 74px;
}
.socials__item:last-child{
    margin-right: 0;
}
.socials__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.socials__item--icon--telegram .socials__link{
    background-image: url(./images/icons/socials/telegram.png);
}
.socials__item--icon--telegram .socials__link:hover{
    background-image: url(./images/icons/socials/telegram-hover.png);
}
.socials__item--icon--vk .socials__link{
    background-image: url(./images/icons/socials/vk.png);
}
.socials__item--icon--vk .socials__link:hover{
    background-image: url(./images/icons/socials/vk-hover.png);
}
.socials__item--icon--fb .socials__link{
    background-image: url(./images/icons/socials/facebook.png);
}
.socials__item--icon--fb .socials__link:hover{
    background-image: url(./images/icons/socials/facebook-hover.png);
}
.socials__item--icon--insta .socials__link{
    background-image: url(./images/icons/socials/instagram.png);
}
.socials__item--icon--insta .socials__link:hover{
    background-image: url(./images/icons/socials/instagram-hover.png);
}

/* Services page */

.header--services{
    padding-top: 24px;
}
.top-line{
    min-height: 415px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background: #202123 url(./images/bg/lion-head-wide.jpg) right 20% top no-repeat;
}
.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-line__container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.page-title{
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}
.breadcrumbs__list{
    display: flex;
    align-items: center;
}
.breadcrumbs__item{
    display: flex;
    align-items: center;
}
.breadcrumbs__item--active .breadcrumbs__link{
    text-decoration: none;
    color: #999;
}
.breadcrumbs__item:after{
    content: " / ";
    color: #999;
}
.breadcrumbs__item:last-child:after{
    display: none;
}
.breadcrumbs__link{
    color: #dfb56d;
    font-size: 14px;
}
.page-content{
    background: #fff;
    color: #818181;
    padding: 40px 0;
}
.services{
    margin-bottom: 65px;
}
.service{
    display: flex;
    padding: 47px 31px;
    text-decoration: none;
}
.service:hover{
    background: #f4f5f5;
}
.service:hover .btn--services{
    background: #dfb56d;
}
.service__img{
    margin-right: 6%;
    /* margin-right: 0; */
}
.service__img-elem{
    Width: 460px;
    Height: 333px;
}
.service__content{
    flex: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 398px;
    position: relative;
}
.service__title{
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 32px;
    color: #202123;
}
.service__desc{
    line-height: 1.7;
    /* margin-bottom: 94px; */
}
.btn--services{
    position: absolute;
    bottom: 0;
}
.pager--theme-light{
    color: #202123;
}
.pager--theme-light .pager__item--active .pager__link{
    color: #fff;
    background: #353538;
}
.pager--theme-light .pager__link:hover{
    color: #fff;
    background: #353538;
}
.inner-section{
    background: #fff;
    color: #202123;
    padding: 95px 0;
}
.inner-section--bg--grey{
    background: #f4f5f5;
}
.inner-section__title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}
.partners{
    display: flex;
    flex-wrap: wrap;
}
.partners__link{
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}
.partners__link:hover{
    filter: grayscale(0%);
}
.partners__item{
    margin-left: 46px;
}
/* .partners__item:first-child, .partners__item:nth-child(5){
    margin-left: 0;
} */
.partners__item:nth-child(4n + 1){
    margin-left: 0;
}
.inner-footer__container{
    padding: 45px 0;
}
.inner-footer{
    margin-top: auto;
}
